In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn import datasets
import seaborn as sns
import statistics

In [2]:
import os
os.chdir('downloads')

In [3]:
os.getcwd()

'C:\\Users\\petri\\downloads'

In [4]:
df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding="latin-1")
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [5]:
df.shape

(60943, 12)

In [32]:
df2 = df.groupby('Area')['Y2017'].max().sort_values(ascending = False)
print (df2)

Area
Nigeria                        190873.00
Ethiopia                       106400.00
Egypt                           96443.00
South Africa                    57010.00
United Republic of Tanzania     54660.00
Mauritania                      51864.00
Kenya                           50221.00
Algeria                         41389.00
Uganda                          41167.00
Sudan                           40813.00
Morocco                         38348.00
Angola                          29817.00
Ghana                           29121.00
Mozambique                      28649.00
Madagascar                      25571.00
Cameroon                        24566.00
CÃ´te d'Ivoire                   24437.00
Niger                           21602.00
Burkina Faso                    19193.00
Mali                            18512.00
Malawi                          17670.00
Zambia                          16854.00
Senegal                         15419.00
Chad                            15017.00
Zimbabwe                        14237.00
Guinea                          12068.00
Rwanda                          11981.00
Tunisia                         11433.00
Benin                           11175.00
Togo                             7698.00
Sierra Leone                     7488.00
Eswatini                         5553.00
Congo                            5111.00
Liberia                          4702.00
Central African Republic         4596.00
Mauritius                        3713.00
Djibouti                         2664.00
Gabon                            2640.00
Gambia                           2544.00
Cabo Verde                       2530.00
Lesotho                          2475.00
Namibia                          2465.00
Sao Tome and Principe            2407.00
Botswana                         2341.00
Guinea-Bissau                    2233.00
Seychelles                        204.02
Comoros                            16.65
Ethiopia PDR                        0.00
Sudan (former)                      0.00
Name: Y2017, dtype: float64

In [7]:
df2.nsmallest(n=7, keep='all')

Area
Ethiopia PDR                0.00
Sudan (former)              0.00
Comoros                    16.65
Seychelles                204.02
Guinea-Bissau            2233.00
Botswana                 2341.00
Sao Tome and Principe    2407.00
Name: Y2017, dtype: float64

In [8]:
#Perform a groupby operation on âElementâ.  What is the total number of the sum of Processing in 2017?
df3 = df.groupby('Element')['Y2017'].sum()
print (df3)

Element
Domestic supply quantity                  2088198.10
Export Quantity                            182338.80
Fat supply quantity (g/capita/day)          10253.84
Feed                                       223705.68
Food                                      1258888.28
Food supply (kcal/capita/day)              454681.00
Food supply quantity (kg/capita/yr)         48690.04
Import Quantity                            294559.09
Losses                                     160614.00
Other uses (non-food)                       91645.97
Processing                                 292836.00
Production                                2030056.89
Protein supply quantity (g/capita/day)      11842.45
Residuals                                   35500.00
Seed                                        24870.14
Stock Variation                             54316.91
Total Population - Both sexes             1112641.00
Tourist consumption                            91.00
Name: Y2017, dtype: float64

In [9]:
#
df4 = df.groupby('Area')['Y2017'].min()
print(df4)

Area
Algeria                         -81.0
Angola                         -250.0
Benin                          -125.0
Botswana                        -38.0
Burkina Faso                   -281.0
Cabo Verde                       -7.0
Cameroon                       -147.0
Central African Republic         -1.0
Chad                            -37.0
Comoros                           0.0
Congo                            -4.0
CÃ´te d'Ivoire                  -244.0
Djibouti                         -2.0
Egypt                         -1582.0
Eswatini                       -100.0
Ethiopia                       -792.0
Ethiopia PDR                      0.0
Gabon                           -37.0
Gambia                           -2.0
Ghana                          -121.0
Guinea                         -108.0
Guinea-Bissau                    -3.0
Kenya                          -186.0
Lesotho                          -4.0
Liberia                         -19.0
Madagascar                     -324.0
Malawi                          -50.0
Mali                           -600.0
Mauritania                       -1.0
Mauritius                       -25.0
Morocco                        -229.0
Mozambique                    -1200.0
Namibia                         -35.0
Niger                          -682.0
Nigeria                        -694.0
Rwanda                         -631.0
Sao Tome and Principe             0.0
Senegal                         -68.0
Seychelles                        0.0
Sierra Leone                   -180.0
South Africa                   -144.0
Sudan                          -819.0
Sudan (former)                    0.0
Togo                            -32.0
Tunisia                        -186.0
Uganda                         -180.0
United Republic of Tanzania    -865.0
Zambia                          -42.0
Zimbabwe                       -521.0
Name: Y2017, dtype: float64

In [10]:
#What would be the output for?
S = [['him', 'sell'], [90, 28, 43]]
S[0][1][1]

'e'

In [11]:
#Which year had the least correlation with âElement Codeâ?
df['Element Code'].corr(df['Y2014'])

0.024456819495221795

In [12]:
df['Element Code'].corr(df['Y2015'])

0.02388919930163992

In [13]:
df['Element Code'].corr(df['Y2016'])

0.023443997584961428

In [14]:
df['Element Code'].corr(df['Y2017'])

0.02425400776004572

In [22]:
#What is the total sum of Wine produced in 2015 and 2018 respectively?
df5 = df.groupby('Item')['Y2015'].sum()
print (df5)

Item
Alcohol, Non-Food        2180.00
Alcoholic Beverages     98783.72
Animal Products         11811.73
Animal fats            200675.72
Apples and products     10559.15
                         ...
Vegetables, Other      158104.08
Vegetal Products       107064.17
Wheat and products     234710.51
Wine                     4251.81
Yams                   203151.78
Name: Y2015, Length: 119, dtype: float64

In [23]:
df5 = df.groupby('Item')['Y2018'].sum()
print (df5)

Item
Alcohol, Non-Food        2293.00
Alcoholic Beverages     97847.27
Animal Products         11578.61
Animal fats            269648.27
Apples and products      9640.51
                         ...
Vegetables, Other      163987.21
Vegetal Products       107775.39
Wheat and products     242645.19
Wine                     4039.32
Yams                   221272.09
Name: Y2018, Length: 119, dtype: float64

In [26]:
#If you have the following list

#lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

#col = [âAgeâ,âNationalityâ,âOverallâ]

#How do you create a pandas DataFrame using this list, to look like the table below?

In [30]:
pd.DataFrame(lst, columns = col, index = [i for i in range(1,4)])

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

In [38]:
#What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?
print(df.mean())

Area Code        134.265576
Item Code       2687.176706
Element Code    3814.856456
Y2014            134.196282
Y2015            135.235966
Y2016            136.555222
Y2017            140.917765
Y2018            143.758381
dtype: float64

C:\Users\petri\AppData\Local\Temp\ipykernel_31936\2807316344.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(df.mean())

In [40]:
print(df['Y2017'].std())

1671.8623590572788

In [44]:
#Perform a groupby operation on âElementâ.  What year has the highest sum of Stock Variation?
df8 = df.groupby('Element')['Y2014','Y2015','Y2016','Y2017'].sum()
print (df8)

                                             Y2014       Y2015       Y2016  \
Element
Domestic supply quantity                1996716.35  2021493.55  2044842.70
Export Quantity                          150020.64   157614.47   151920.46
Fat supply quantity (g/capita/day)        10225.56    10235.74    10102.77
Feed                                     216927.89   225050.22   228958.65
Food                                    1212332.49  1232361.10  1247022.17
Food supply (kcal/capita/day)            454257.00   453383.00   451810.00
Food supply quantity (kg/capita/yr)       49650.63    49345.13    48985.28
Import Quantity                          274144.48   267018.46   286582.78
Losses                                   153223.00   155439.00   157787.00
Other uses (non-food)                     78718.13    66254.41    69563.68
Processing                               282923.00   287929.00   280631.00
Production                              1931287.75  1947019.39  1943537.15
Protein supply quantity (g/capita/day)    11836.46    11833.95    11779.69
Residuals                                 30149.00    30045.00    37224.00
Seed                                      21922.92    23976.82    23389.20
Stock Variation                           58749.83    34910.99    33140.12
Total Population - Both sexes           1031585.00  1058081.00  1085107.00
Tourist consumption                         416.00      349.00       89.00

                                             Y2017
Element
Domestic supply quantity                2088198.10
Export Quantity                          182338.80
Fat supply quantity (g/capita/day)        10253.84
Feed                                     223705.68
Food                                    1258888.28
Food supply (kcal/capita/day)            454681.00
Food supply quantity (kg/capita/yr)       48690.04
Import Quantity                          294559.09
Losses                                   160614.00
Other uses (non-food)                     91645.97
Processing                               292836.00
Production                              2030056.89
Protein supply quantity (g/capita/day)    11842.45
Residuals                                 35500.00
Seed                                      24870.14
Stock Variation                           54316.91
Total Population - Both sexes           1112641.00
Tourist consumption                          91.00

C:\Users\petri\AppData\Local\Temp\ipykernel_31936\1827681743.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df8 = df.groupby('Element')['Y2014','Y2015','Y2016','Y2017'].sum()